

{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Gestion multimédias - {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

<div name="intitule">
    <h1>Gestion des ressources multimédias</h1>
</div>

    <h3>Liste des images</h3>
    <form action="{{ path('upond_orthophonie_administration_ressources_manager_images_update_simple')}}" method="POST" class="Multimedias">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2">
                <select id="strat_filter" class="form-control" name="strategie_filter">
                    <option value="0"></option>
                    {% for strategie in listStrategie %}
                        <option value="{{ strategie.getNom }}">{{ strategie.getNom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <input type="submit" name="validate" value="Enregister nouveaux noms" class="btn btn-success">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span>Paramètre Voix </span>
                <select class="form-control" id="voiceOptions"></select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span>Paramètre Volume </span>
                <input class="form-control" type="range" id="volumeSlider" min="0" max="1" value="0.75" step="0.1" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <span>Paramètre Vitesse </span>
                <input class="form-control" type="range" id="rateSlider" min="0" max="1" value="0.75" step="0.1" />
            </div>


        </div>
    <table id="mytab" class='table table-striped container'>
        <thead>
        <th>Image</th>
        <th id="strat_col">Strategie</th>
        <th>Indice Apprentissage</th>
        <th>Indice Entrainement</th>
        <th>Texte</th>
        <th>Action</th>
        </thead>
        <tbody>
        {% for multimedia in listMultimedias %}
            <tr>
                <td>
                    <img src="{{ asset(multimedia.getImage) }}" height="200px" class=""/>
                    <input class="" type="hidden" name="image[]" value="{{ multimedia.getIDMultimedia }}">
                </td>
                <td>{{ multimedia.getStrategie.getNom }}</td>
                <td>
                    <input class="form-control" type="text" name="apprentissage[]" value="{{ multimedia.getIndiceApprentissage }}" />
                    <button class="helper btn btn-info" type="button" title="" >Tester <i class="fa fa-play"></i></button>
                </td>
                <td>
                    <input class="form-control" type="text" name="entrainement[]" value="{{ multimedia.getIndiceEntrainement }}" />
                    <button class="helper btn btn-info" type="button" title="" >Tester <i class="fa fa-play"></i></button>
                </td>
                <td>
                    <input class="form-control" type="text" name="text[]" value="{{ multimedia.getNom }}" />
                </td>
                <td>
                    <button type="submit" title="Modifier" class="btn btn-success"><i class="fa fa-check"></i></button>
                    <a title="Modifier média" class="btn btn-primary" href="{{ path('upond_orthophonie_administration_ressources_manager_images_update')}}?media_id={{ multimedia.getIDMultimedia }}"><i class="fa fa-edit"></i></a>
                    <a title="Supprimer média" class="btn btn-danger" href="{{ path('upond_orthophonie_administration_ressources_manager_images_delete')}}?media_id={{ multimedia.getIDMultimedia }}"><i class="fa fa-crop"></i></a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block javascripts_complement %}

  <script>
    $( document ).ready(function() {
        var table = $('#mytab').DataTable({
            dom: "lrtip",
            "bDestroy": true
        });
        $('#strat_filter').on( 'keyup change', function () {
            if(this.value == 0){
                table.column(1)
                        .search('')
                        .draw();
            }
            else if ((table.column(1).search() !== this.value) ) {
                table.column(1)
                        .search( this.value )
                        .draw();
            }
        } );
        $('[name="ListMedecins"]').each(function () {
            idMedecin = $(this).val();
            idPatient = $(this).attr("idPatient");
            $('[name=idMedecin][idpatient='+idPatient+']').val(idMedecin);
        });

        $('[name="ListMedecins"]').change(function () {
            idMedecin = $(this).val();
            idPatient = $(this).attr("idPatient");
            $('[name=idMedecin][idpatient='+idPatient+']').val(idMedecin);
        });
    });

   </script>

    <script type="text/javascript">

        function checkCompatibilty () {
            if(!('speechSynthesis' in window)){
                alert('Your browser is not supported. If google chrome, please upgrade!!');
            }
        };

        checkCompatibilty();
        var voiceOptions = document.getElementById('voiceOptions');
        var volumeSlider = document.getElementById('volumeSlider');
        var rateSlider = document.getElementById('rateSlider');
        var pitchSlider = document.getElementById('pitchSlider');
        var myText = document.getElementById('myText');


        var voiceMap = [];

        function loadVoices () {
            var voices = speechSynthesis.getVoices();
            for (var i = 0; i < voices.length; i++) {
                var voice = voices[i];
                var option = document.createElement('option');
                option.value = voice.name;
                option.innerHTML = voice.name;
                voiceOptions.appendChild(option);
                voiceMap[voice.name] = voice;
            };
        };

        window.speechSynthesis.onvoiceschanged = function(e){
            loadVoices();
        };

        $(".helper").click(function () {
            var msg = new SpeechSynthesisUtterance();
            msg.text = $(this).prev()[0].value;
            msg.volume = volumeSlider.value;
            msg.voice = voiceMap[voiceOptions.value];
            msg.rate = rateSlider.value;
            msg.Pitch = 1;

            window.speechSynthesis.speak(msg);
        });

    </script>

{% endblock %}