

{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Gestion des Vidéos - {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

<div name="intitule">
    <h1>Gestion des vidéos</h1>
</div>

    <h3>Liste des vidéos</h3>
    <form action="{{ path('upond_orthophonie_ressources_manager_videos_edit_update_simple')}}" method="POST" class="Multimedias">

    <table id="mytab" class='table table-striped container'>
        <thead>
        <th>Vidéo</th>
        <th>Vidéo URL</th>
        <th>Durée</th>
        <th>Action</th>
        </thead>
        <tbody>
        {% for video in listVideos %}
            <tr>
                <td class="col-md-3">
                    <iframe width="320" height="150" class="video" src="{{ video.getURL }}"  frameborder="0" allowfullscreen></iframe>
                    <input class="" type="hidden" name="video[]" value="{{ video.getIdPauseVideo }}">
                </td>
                <td class="col-md-4"><input class="form-control input-lg url" name="url[]" value="{{ video.getURL }}"></td>
                <td class="col-md-2"><input class="form-control" name="duree[]" value="{{ video.getDuree }}"></td>

                <td class="col-md-2">
                    <button type="submit" title="Modifier" class="btn btn-success"><i class="fa fa-check"></i></button>
                    <a title="Modifier média" class="btn btn-primary" href="{{ path('upond_orthophonie_ressources_manager_images_update')}}?video_id={{ video.getIdPauseVideo }}"><i class="fa fa-edit"></i></a>
                    <!--<a title="Supprimer média" class="btn btn-danger" href="{{ path('upond_orthophonie_ressources_manager_images_delete')}}?video_id={{ video.getIdPauseVideo }}"><i class="fa fa-times"></i></a>-->
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block javascripts_complement %}

  <script>
    $( document ).ready(function() {
        var table = $('#mytab').DataTable({
            dom: "lrtip",
            "bDestroy": true
        });
        $('#strat_filter').on( 'keyup change', function () {
            if(this.value == 0){
                table.column(1)
                        .search('')
                        .draw();
            }
            else if ((table.column(1).search() !== this.value) ) {
                table.column(1)
                        .search( this.value )
                        .draw();
            }
        } );
        $('.url').on( 'keyup change', function () {
            if(this.value != ""){
                video_id = this.value.split('v=')[1];
                video_id = video_id.split('&')[0];

                embeled_link="https://www.youtube.com/embed/"+video_id;
                this.value=embeled_link;
                $(this).parent().prev().find('.video').attr( "src",embeled_link );

            }
        } );
        $('[name="ListMedecins"]').each(function () {
            idMedecin = $(this).val();
            idPatient = $(this).attr("idPatient");
            $('[name=idMedecin][idpatient='+idPatient+']').val(idMedecin);
        });

        $('[name="ListMedecins"]').change(function () {
            idMedecin = $(this).val();
            idPatient = $(this).attr("idPatient");
            $('[name=idMedecin][idpatient='+idPatient+']').val(idMedecin);
        });
    });

   </script>

{% endblock %}