{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Statistiques {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>#}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"/>


{% endblock %}

{% block orthophonie_body %}
    <div name="intitule">
        <h1>Statistiques</h1>
</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2> Statistique </h2>
                <hr>
                <div id="myChart" ></div>
            </div>

            <div class="col-sm-12">
                <h2>Données</h2>
                <hr>
                <table id="example" class="table table-condensed table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Date</th>
                        <th>Phase</th>
                        <th>Strategie</th>
                        <th>Niveau</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for patient, exercice in exercices %}
                    {% for ex in exercice %}
                        <tr>
                            <td>{{ patient }}</td>
                            <td>{{ ex.dateCreation|date('d/m/Y') }}</td>
                            <td>{{ ex.phase.nom }}</td>
                            <td>{{ ex.strategie.nom }}</td>
                            <td>{{ ex.niveau }}</td>
                            <td>{{ (ex.nbBonneReponse / (ex.nbQuestionValidee==0?1:ex.nbQuestionValidee) *100)|number_format(2, '.', ',')}}%</td>
                        </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <footer class="text-right">
                <img src="http://rrpb2.u-bordeaux4.fr/wp-content/uploads/2012/10/logo-Parisouest.jpg" width="100px">
        </footer>
    </div>
{% endblock %}

{% block javascripts_complement %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script>

        var myLineChart = new Highcharts.chart("myChart", {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Statistiques Patients'
            },

            xAxis: {
                categories: [{% for date in labels|keys %}"{{ date|date('d/m/Y') }}",{% endfor %}]
            },
            yAxis: {
                min: 0,
                max: 100,
                title: {
                    text: 'Pourcentage'
                }
            },
            series: [ {% for patient,gr in graph %} {
                name: "{{ patient }}" ,
                data : [
                    {% for score in gr %}
                    {{ score|number_format(2) }},
                    {% endfor %}
                ]
            },
                {% endfor %}]
            }
        );
        $(document).ready(function () {
            $('#example').DataTable({
                dom: "lrtip",
                "bDestroy": true
            });
        });
    </script>
{% endblock %}
